* {
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

main h2 {
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}

main p {
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}
